* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    margin: 20px;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.item{
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 5px 15px 20px #000;
}